@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Orbitron:wght@500&family=Roboto&display=swap");

body {
  background: linear-gradient(212deg, #545b86 0%, #f1cdcd 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
